body {

	border: 5px double #660099;
	padding: 3px;

}

#newspaper {

	border: 3px solid #000099;
	width: 800px;
	margin: 0;
	padding: 3px;
	margin: auto;

}

header {

	border: 3px dashed #009900;
	padding: 3px;
	text-align: center;

}

article {
	border: 3px dashed #009900;
	padding: 3px;
	width: 320px;
}

#leftcolumn {

}

#rightcolumn {

}

footer {

	border: 3px dashed #009900;
	padding: 3px;
	clear: both;
	text-align: center;

}

h1 {

	border: 3px dotted #99cc00;
	padding: 3px;

}

h2 {

	border: 3px dotted #99cc00;
	padding: 3px;

}

p {

	border: 3px dotted #99cc00;
	padding: 3px;

}